.session-form-container {
  width: 100%;
  height: 500px;
}

.session-form-container > form {
  width: 50%;
  height: 100%;
  // background-image: radial-gradient(black, white);
  background-image: linear-gradient(to right, black, white);
  ;
}

.session-img {
  width: 50%;
  height: 100%;
  background: white;
}

form {
  justify-content: center;
  align-items: center;
}

.session-form {
  flex-direction: column;
  align-content : center;
}

input {
  height: 50px;
  width: 300px;
  margin-top: 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.session-form > input:nth-child(3) {
  background: darkgray;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.session-form > input:nth-child(3):hover { 
  // color: peachpuff;
  box-shadow: 5px 5px goldenrod;
}



span {
  color: red;
  font-size: 11px;
  width: 300px;
  line-height: 20px;
  text-align: center;
  margin-top: 15px;
}