//Background
$white:             #ffffff !default;
$black:             #000000 !default;

//Navbar
$light-grey:        #dddddd !default;
$light-purple:      #3F0E40 !default;
$dark-purple:       #441648 !default;
//Primary Colors
$green:             rgb(217, 255, 237) !default;
$purple:      #b1a2e9 !default;