.chart-container {
    align-items: center;
    font-family: $font-sans-serif;
    padding: 30px;
}

.chart-layout {
    height: 60vh;
    background: #e9e9e9;
    padding-bottom: 200px;
}

.recharts-surface {
}
.recharts-wrapper {
    font-size: 10px;
    padding: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 1px 1px 1px #4b4b4b;
}

.recharts-tooltip-wrapper {
    font-size: 10px;
    background: $white;
    padding: 10px;
    border: 1px solid #82119e;
    border-radius: 5px;
}

.recharts-default-legend {
    display: flex;
    margin-bottom: 10px;
}

strike {
    text-decoration: line-through;
}

.chart-header {
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    background: #e9e9e9;  
    font-family: $font-sans-serif;
}

.chart-arrows {
    justify-content: center;
    padding-top: 10px;
    font-size: 40px;
    background: #e9e9e9;  
}
.chart-inputs {
    padding: 20px;
    font-size: 12px;
    height: 100%;
    width: auto;
    background: lightgrey;
    color: darkslategray;
    font-family: $font-sans-serif;
    border-radius: 4px;
    -webkit-align-items: center;
    align-items: center;
}

.chart-inputs > input {
    padding: 3px;
}

.chart-1 {
    align-items: center;
    width: 100%;
    justify-content: center;
}

.recharts-default-legend {
    justify-content: center;
    width: 500px;
}

.recharts-legend-wrapper {
    justify-content: center;
    font-size: 12px;
    // width: 500px;
}

.chart-title {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.chart-input {
    padding: 10px;
}

.chart-slider-bottom {
    justify-content: space-between;
}

.chart-slider {
    align-self: flex-start;
}

.chart-slider-title {
    font-weight: bold;
    margin-bottom: 5px;
    justify-content: space-between;
}

.chart-variable-rate {
    text-align: right;
    background: white;
    width: 60px;
    margin-left: 10px;
    padding: 5px;
    font-weight: 700;
}

.chart-variable-rate-title {
    padding: 5px 0;
    text-align: left;
}