.footer {
	font-family: $font-sans-serif;
	height: 15px;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.disclaimer {
	font-family: $font-sans-serif;
	font-size: 12px;
}