// Form 1
.form1-parent,
.form2-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica;
}

.form1-title, .form1-form, .form2-title {
  display: flex;
  justify-content: center;
  font-family: Helvetica;
}

.form1-parent, .form2-parent {
  background: #f3f5f6;
  height: 87vh;
}

.form1-container {
  margin: 0px 0px 0px 0px;
  background: white;
  width: 400px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, .5);
  height: 400px;
}

.form1-title, .form2-title {
  font-size: 30px;
  padding: 10px;
  margin: 20px 20px;
}

.form1-form, .form2-form {
  text-align: center;
}

.form1-form form label span,
.form1-form form span {
  font-size: 20px;
}

.form1-form form label input,
.form1-form form select,
.form2-form form label input,
.form2-form form select
 {
  padding: 0px 0px 0px 15px;
  margin: 10px 5px 20px 5px;
  width: 260px;
  height: 40px;
  border: 1px solid #a7a7a7;
  border-radius: 5px;
  font-size: 16px;
  background: none;
}

.form1-form form select {
  width: 277px;
}

.form1-form input[type=submit],
.form2-form input[type=submit] {
  background: #4840bb;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 266px;
  height: 40px;
  margin-top: 9px;
  font-size: 15px;
}

.form1-form input[type=submit]:hover {
  cursor: pointer;
}

// Form 2
.form2-container {
 margin: 40px 0px 0px 0px;
 background: white;
 width: 400px;
 border-radius: 5px;
 box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, .5);
 height: 600px;
 text-align: center;
}

.form2-back {
  background: #6B7FD7;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 266px;
  height: 40px;
  margin-top: 9px;
  font-size: 15px;
}