.hero-banner {
    background: url(https://images.unsplash.com/photo-1494888427482-242d32babc0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

.hero-image {
    padding: 20px;
    text-align: center;
    height: 85vh;

    p {
        margin: 50px;
    }
}

.call-to-action {
    text-align:center;
    opacity: 1;
    padding: 15px 25px;
    margin-top: 30px;
    color: white;
    font-weight: 500;
    background: #1e88e5;
    border-radius: 5px;
    -webkit-animation: bounce .3s alternate;
    -moz-animation: bounce .3s alternate;
    animation: bounce .3s alternate;
  }

.call-to-action:hover {
   background: #1879cd;
}

@-webkit-keyframes bounce {
to { -webkit-transform: scale(1.5); }
}
@-moz-keyframes bounce {
to { -moz-transform: scale(1.5); }
}
@keyframes bounce {
to { transform: scale(1.5); }
}

