.hero-banner {
    background: url(https://images.unsplash.com/photo-1494888427482-242d32babc0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

.hero-image {
    padding: 20px;
    text-align: center;
    height: 85vh;

    p {
        font-size: 16px;
        margin: 50px;
        font-weight: 700;
    }

}

.hero-introduction {
    h1 {
        padding: 20px;
    }
    h2 {
        padding: 20px;
    }
    align-self: center;
    justify-self: center;
    margin: 20px 0;
    padding: 40px;
    background: #f3f3f3f3;
    width: 60%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.479);

}

.call-to-action {
    width: 200px;
    text-align:center;
    align-self: center;
    opacity: 1;
    padding: 15px 25px;
    margin-top: 30px;
    color: white;
    font-weight: 500;
    background: #1e88e5;
    border-radius: 5px;
    /// Animation
    -webkit-animation: shadow-pulse 10s infinite;
    -moz-animation: shadow-pulse 10s infinite;
    animation: shadow-pulse 10s infinite;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
.call-to-action:hover {
   background: #1879cd;
}

@keyframes shadow-pulse
{
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.281);
    }
    15% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

