.navbar-container {
    font-family: $font-sans-serif;
    background: $dark-purple;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .logo {
        padding: 20px;
        font-family: $logo-font;
        text-decoration: none;
        color: $white;
        font-size: 18px;
        &:hover {
            transform: scale(1.1);
        }
    }

    button {
        background: none;
        color: $white;
        &:hover {
            transform: scale(1.1);
        }
    }
    .navbar-dropdown-link {
        cursor: pointer;
        font-weight: 700;
        color: $white;
        font-size: 14px;
        padding: 12px 16px;
        &:hover {
            transform: scale(1.1);
        }
    }   
}


