.navbar-container {
    font-family: $font-sans-serif;
    background: $dark-purple;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .navbar-link {
        font-size: 14px;
        align-self: center;
        margin: 0 10px;
    }

    .navbar-logo {
        .logo {
            padding: 20px;
            font-family: $logo-font;
            text-decoration: none;
            color: $white;
        }
        img {
            width: 150px;
            &:hover {
                transform: scale(1.01);
            }
        }
    }

    .navbar-dropdown-button {
        background: none;
        color: $white;
        padding: 16px;
        border: none;
    }

    .navbar-links {
        a {
            font-size: 14px;
            color: $white;
            padding: 12px 16px;
            text-decoration: none;
        }

    } 

    .modal-buttons > button {
        background: none;
        font-size: 14px;
        color: $white;
        padding: 12px 16px;
        text-decoration: none;

        &:hover {
            // background: $dark-blue;
            transform: scale(1.1);
        }
    }
    
    .navbar-dropdown {
        position: relative;
        display: inline-block;
    }
    
    .navbar-dropdown-content {
        display: none;
        position: absolute;
        right: 10px;
        background-color: $white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .navbar-dropdown-content, .navbar-dropdown-link {
        font-size: 14px;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color: white;
        cursor: pointer;
    }
    
    .navbar-dropdown-content .navbar-dropdown-link:hover {
        background: $med-grey;
    }
    
    .navbar-dropdown:hover .navbar-dropdown-content {
        display: block;
    }

    .navbar-button {
        cursor: pointer;
        font-size: 13px;
        font-weight: 700;
        padding: 8px;
        color: $white;
        border-radius: 5px;
        text-decoration: none;
        margin: 10px;

        a {
            color: white;
            text-decoration: none;
        }
        
        &:hover {
            // background: $dark-blue;
            transform: scale(1.1);
        }
    }   
}

.call-to-action {
    text-align:center;
    opacity: 1;
    border-radius: 5px;
    -webkit-animation: bounce .3s alternate;
    -moz-animation: bounce .3s alternate;
    animation: bounce .3s alternate;
  }
  @-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.5); }
  }
  @-moz-keyframes bounce {
    to { -moz-transform: scale(1.5); }
  }
  @keyframes bounce {
    to { transform: scale(1.5); }
  }



